.wrapper {
    padding-top: 3vw;
}


.projectsWrapper {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 98vw;
    padding-bottom: 200px;
}

.projectsHeader{
    margin-top: 100px;
    display: flex;
    margin: 6vh 0;
    height: 20vh;
    /* background-color: #663399 ; */
    background-color: rgb(90,95,204);
    justify-content: center;
}

.projectsHeader h1{ 
    font-size: 2.5vw;
    color: white;
    position: relative;
    align-self: center;

}



.mediaCardWrapper {

    margin: 3vw;

    

}

 @media only screen and (max-width: 1600px) {
     .mediaCardWrapper {
        margin: 1vw;
     }
}


 @media only screen and (max-width: 600px) {


    .projectsWrapper {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }

    
    .mediaCardWrapper {

        width: 95vw;
        margin: 5vw;
        align-self: center;

    }

    .projectsHeader h1{ 
    font-size: 7.5vw;
    }
 }