ul {
    list-style-type: none;
}

.tech {
    position: relative;
    margin-top: 340px;
    font-family: monospace;
    /* color: black !important; */
}




@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
.skillCircles {
    margin-top: 200px;
    margin-left: 100px;

}

.skillCircles li {
    position: absolute;
    left: 47%;
    /* margin: 10px auto 0; */
    animation: circle 14s linear infinite;
    transform-origin:45% 20vw;
}

.skillCircles li:nth-child(0){
    animation-delay: 0s;

}

.skillCircles li:nth-child(1){
    animation-delay: 2s;

}

.skillCircles li:nth-child(2){
    animation-delay: 4s;

}

.skillCircles li:nth-child(3){
    animation-delay: 6s;

    
}

.skillCircles li:nth-child(4){
    animation-delay: 8s;

}



.skillCircles li:nth-child(5){
    animation-delay: 10s;

}


.skillCircles li:nth-child(6){
    animation-delay: 12s;

}

.skillCircles li:nth-child(7){
    animation-delay: 14.2s;

}



@media only screen and (max-width: 800px) {
   .skillCircles li {
        transform-origin:45% 40vw;
    }
}
   




@media only screen and (max-width: 600px) {
   .skillCircles li {
        transform-origin:45% 40vw;
    }
}
   